<h1>Validation New Page</h1>

<div class="address_submission">
    <%= form_for @validation do |f| %>
	<%= f.label :address_1 %>:
	<%= f.text_field :address_1 %>

	<%= f.label :state %>:
	<%= f.text_field :state %>

	<%= f.label :zip %>
	<%= f.text_field :zip %>

	<%= f.submit %>
    <% end %>
</div>
