<div class="home-new-page">
    <div class="row">
	<h1 class="page-title text-md-center">Validate Your Home's Listing</h1>
    </div> <!-- row -->

    <div class="row">
	<div class="card card-inverse card-info col-md-12">
	    <div class="card-block">
		<p class="card-text">Enter the address information for the home you want to validate. Then attached the picture you are going to post with the listing for that home. Make sure you enable the gps metadata on the phone taking the picture and take the picture inside or very near the home you are validating.</p>
	    </div>
	</div>
    </div>
    
    <div class="address-submission">
	    <div class="content-box address-form ">
	    <%= form_for @home do |f| %>
		<%= f.fields_for :home do |home_form| %>
		    <fieldset class="form-group">
			<%= home_form.label :address_1%>
			<%= home_form.text_field :address_1, value: "Address 1", class: "form-control"%>
		    </fieldset>
		    <fieldset class="form-group">		    
			<%= home_form.label :city%>
			<%= home_form.text_field :city, value: "City", class: "form-control"%>
		    </fieldset>
		    <fieldset class="form-group">
			<%= home_form.label :state %>
			<%= home_form.text_field :state, value: "State", class: "form-control" %>
		    </fieldset>
		    <fieldset class="form-group">
			<%= home_form.label :zip %>
			<%= home_form.text_field :zip, value: "Zip", class: "form-control" %>
		    </fieldset>
		<% end  %>
		<%= f.fields_for :pictures do |picture_form| %>
		<fieldset class="form-group field">
		  <%= picture_form.file_field :picture %>
		</fieldset>
		<% end %>
		<%= f.submit "Validate", class: "btn btn-primary" %>
	    <% end %>
	    </div> <!-- content-box -->
    </div> <!-- address-submission -->
</div> <!-- home-new-page -->
