<div class="show-page">
    <div class="row">
	<h1 class="validation-header text-md-center">
	    <% if @validation.validated? %>
		<div class="validated">Home Validated</div>
	    <% else %>
		<div class="not-validated">Home Not Valid</div>
	    <% end %>
	</h1>
    </div> <!-- row -->
    
    <div class="row">
	<div class="content-box-container">
	    <div class="content-box featured-image col-md-4 col-md-offset-2">
	    </div> <!-- featured-image -->
	    
	    <div class="content-box address-report col-md-4">
		<p>Address Information</p>
		<ul>
		    <li>Address 1: <%= @validation.home.address_1 %></li>
		    <li>State: <%= @validation.home.state %></li>
		    <li>Zip: <%= @validation.home.zip %></li>
		    <li>Calculated Latitude: <%= @validation.home.lat %></li>
		    <li>Calculated Longitude: <%= @validation.home.long %></li>
		</ul>
	    </div> <!-- address-report -->
	</div> <!-- content-box-container -->
    </div> <!-- row -->

    <div class="row">
	<div class="content-box picture-slider">
	    
	</div> <!-- picture-slider -->
    </div> <!-- row -->

    <div class="row">
	<div class="content-box metadata col-md-6 col-md-offset-3">
	    <p>Photo Metadata Information</p>
	    <ul>
		<% @validation.pictures.each do |photo| %>
		    <li>Photo Latitude: <%= photo.lat %></li>
		    <li>Photo Longitude: <%= photo.long %></li>
		<% end %>
	    </ul>
	</div> <!-- metadata -->
    </div> <!-- row -->
</div> <!-- show-page -->
