<div class="validation-show-page">
    <div class="row">
	<% if @validation.validated? %>
	    <div class="card card-inverse card-success text-center">	
		<div class="card-block page-title">
		    <h1 class="validated">Home Validated</h1>
		</div> <!-- page-title -->
	    </div> <!-- validated-card -->
	<% else %>
	    <div class="card card-inverse card-danger text-center">	
		<div class="card-block page-title">
		    <h1 class="not-validated">Home Not Valid</h1>
		</div> <!-- page-title -->
	    </div> <!-- not-valid-card -->
	<% end %>
    </div> <!-- row -->

    <div class="row">
	<div class="card card-inverse card-info col-md-12">
	    <div class="card-block">
		<p class="card-text">
		    We compared the gps metadata against the address provided. A picture-home combindation is valid only if the gps metadata indicates that the picture was taken within .001 degrees of latitude or longtitude, i.e. about 300 feet, of the address.
		</p>
	    </div>
	</div>
    </div>

    <div class="row" >
	<div class="card-deck-wrapper">
	    <div class="card-deck">
		<div class="card">

		    <div class="card-block">
			<h4 class="card-title">Submitted Photo</h4>
			<img  data-src=<%= image_tag @validation.pictures.first.picture.url(:medium)%>
		    </div> <!-- card-block -->
		</div> <!-- card -->
		<div class="card">
		    <div class="card-block">
			<h4 class="card-title">Photo GPS Metadata</h4>
			<ul class="card-text">
			    <% @validation.pictures.each do |photo| %>
				<li><strong>Photo Latitude:</strong> <%= photo.lat %></li>
				<li><strong>Photo Longitude:</strong> <%= photo.long %></li>
			    <% end %>
			</ul>
		    </div> <!-- card-block -->
		</div> <!-- card -->
		<div class="card">
		    <div class="card-block">
			<h4 class="card-title">Address Information</h4>
			<ul class="card-text">
			    <li><strong>Address:</strong> <%= @validation.home.address %></li>
			    <li><strong>Calculated Latitude:</strong> <%= @validation.home.lat %></li>
			    <li><strong>Calculated Longitude:</strong> <%= @validation.home.long %></li>
			</ul>
		    </div> <!-- card-block -->
		</div> <!-- card -->
	    </div> <!-- card-deck -->
	</div> <!-- card-deck-wrapper -->
    </div> <!-- row -->



</div> <!-- show-page -->
